@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-accent: #00a2ff;
}

body {
  @apply bg-black text-white;
}

.blue-divider {
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 162, 255, 0) 0%,
    rgba(0, 162, 255, 0.8) 50%,
    rgba(0, 162, 255, 0) 100%
  );
}
